
.block {
  @include cf;
  margin-bottom: $base*2;
  
  &:nth-child(2n+1) {
    clear: left;
  }
}

.block-header {
  @include cf;
  padding: 10px 16px;
  background: #fff;
  border-bottom: 1px solid $lt-grey;
  
  .block-title {
    float: left;
    line-height: 1.5em;
    color: $dk-grey;
  }
  
  .aux-link {
    @include font-size(13px);
    float: right;
    margin-top: 4px;
  }
  
  .form-select {
    float: right;
    
    select {
      @include font-size(13px);
      width: auto;
      height: 32px;
      color: $dk-grey;
      font-weight: $semi;
    }
  }
}

.block-content {
  @include cf;
  background: #fff;
}