
.content-header {
  @include cf;
  position: relative;
  margin-bottom: $base;
  
  .page-title {
    margin-bottom: 12px;
  }
  
  p {
    max-width: 700px;
    line-height: 1.5;
  }
  
  .back-link {
    @include font-size(15px);
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .icon-arrow-blue-right {
    vertical-align: 1px;
  }
}