
.data-table-edit {
  margin-bottom: $base;
  padding: $base 0;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.data-table-edit td.AXDBTableNavBarTop:nth-of-type(1),
.data-table-edit td.AXDBTableNavBar:nth-of-type(1) {
  width: 20% !important;
}

.data-table-edit td.AXDBTableNavBarTop:nth-of-type(2),
.data-table-edit td.AXDBTableNavBar:nth-of-type(2) {
  width: 24% !important;
}

.data-table-edit td.AxpDbEditBtnBar {
  padding-bottom: 24px;
  
  .AxpDbInputBtn {
    margin-right: 10px;
  }
}

.AXDBTableFormDataEdit {
  padding-top: 12px;
  background: #fff;
  
  tbody tr:last-child td {
    padding-bottom: 24px;
  }
  
  td, th {
    padding: 24px 20px 0;
  }
}