
[class*="icon-"] {
  display: inline-block;
  background: $sprite no-repeat 0 0;
}

.icon-arrow-nav {
  width: 12px;
  height: 8px;
}

.icon-search {
  width: 19px;
  height: 19px;
  background-position: 0 -212px
}

.icon-calendar {
  width: 19px;
  height: 19px;
  background-position: 0 -235px
}

[class*="icon-social-"] {
  width: 38px;
  height: 39px;
}
  
.icon-social-twitter {
  background-position: 0 -87px;
}

.icon-social-facebook {
  background-position: 0 -129px;
}

.icon-social-linkedin {
  background-position: 0 -170px;
}
