
body,html {
  width: 100%;
  height: 100%;
}

body {
  background: $lt-grey;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  @include cf;
  width: 100%;
  padding: 36px;
  border-left: 252px solid $blue;
}