
.footer {
  @include cf;
  padding-top: $base;
  background: lighten($grey, 21%);
  border-top: 1px solid $lt-grey;
}

.footer-nav {
  float: right;
  padding-top: 6px;
  
  li {
    float: left;
    margin-left: 2em;
  }
}

.footer-nav a {
  @include font-size(14px);
  color: $dk-grey;
  font-weight: $semi;
  
  &:hover {
    color: $black;
  }
}

.footer .follow-us {
  float: left;
  width: 300px;
  margin-bottom: $base;
  text-align: center;
  
  li, h4 {
    float: left;
    margin-right: 1em;
  }
  
  h4 {
    color: $dk-grey;
    padding-top: 10px;
  }
}